@model Delivery.Web.Data.Entities.RepartidorEntity

@{
    ViewData["Title"] = "Details";
}

<h2>Detalle Repartidor</h2>

<div>
    <h4>Repartidor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Placa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Placa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdRepartidor">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
